* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.wrap {
  width: 100%;
}

@font-face {
  font-family: TT Commons;
  src: url("../fonts/TTCommons-Regular.ttf");
}

@font-face {
  font-family: SangBleu Sunrise;
  src: url("../fonts/SangBleu-Sunrise.ttf");
}

.link-style ul li {
  list-style: none;
}

.link-style ul li a {
  text-decoration: none;
  font-family: TT Commons;
  font-style: normal;
  font-weight: normal;
  font-size: 21px;
  line-height: 28px;
  letter-spacing: -0.32px;
  color: #fff;
}

.border-line {
  width: 1px;
  height: 40px;
  background: #FFFFFF;
  opacity: 0.5;
}

.header2 {
  width: 100%;
  height: 1080px;
  background: url("../../img/header/header-bg2.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.header {
  width: 100%;
  height: 1080px;
  background: url("../../img/header/header-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.header .slick-dots ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header .slick-dots ul li button {
  display: none;
}

.header-container {
  width: 100%;
  max-width: 1390px;
  margin: 0 auto;
}

.header-container .header-navbar {
  height: 90px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header-container .header-navbar .left {
  width: 100%;
  max-width: 710px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header-container .header-navbar .left .header-navbar__nav {
  width: 100%;
  max-width: 426px;
}

.header-container .header-navbar .left .header-navbar__nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header-container .header-navbar .left .header-navbar__logo {
  width: 240px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header-container .header-navbar .left .header-navbar__logo img {
  cursor: pointer;
}

.header-container .header-navbar .right {
  margin-right: 14px;
  width: 104px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header-hero {
  color: #fff;
  font-style: normal;
}

.header-hero .header-hero__title {
  margin-top: 82px;
  width: 620px;
  font-family: SangBleu Sunrise;
  font-weight: 500;
  font-size: 64px;
  line-height: 84px;
}

.header-hero .header-hero__subtitle {
  margin-top: 35px;
  width: 459px;
  font-family: TT Commons;
  font-weight: normal;
  font-size: 28px;
  line-height: 34p;
  letter-spacing: -0.32px;
}

.header-hero .header-hero__btn {
  margin-top: 237px;
  max-width: 300px;
  text-align: center;
}

.header-hero .header-hero__btn .btn {
  text-decoration: none;
  color: #fff;
  display: block;
  font-family: TT Commons;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: -0.32px;
  background-color: #FF7A74;
  padding: 20px;
  border-radius: 8px;
}

.header-hero .header-hero__btn .btn:hover {
  -webkit-box-shadow: 0px 20px 45px rgba(255, 134, 129, 0.25);
          box-shadow: 0px 20px 45px rgba(255, 134, 129, 0.25);
}

.header-hero .header-hero__text {
  margin-top: 38px;
  font-family: TT Commons;
  font-style: normal;
  font-weight: normal;
}

.header-hero .header-hero__text .title {
  font-size: 24px;
  line-height: 130%;
}

.header-hero .header-hero__text .title .red {
  color: red;
}

.header-hero .header-hero__text .subtitle {
  font-size: 18px;
  line-height: 128.2%;
}

.header-hero .header-hero__dots {
  width: 100px;
}

.header-hero .header-hero__dots .slick-dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.brand-section {
  background: #F7F8F9;
  height: 430px;
}

.brand {
  background: #F7F8F9;
  width: 100%;
}

.brand .brand-container {
  background: #F7F8F9;
  height: 259px;
  width: 100%;
  max-width: 1360px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.brand .brand-container .brand-title {
  margin-top: 67px;
  color: #978C8C;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  font-family: TT Commons;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.brand .brand-container .brand-items {
  margin-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.brand .brand-container .brand-items .brand-item {
  height: 184px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 280px;
}

.brand .brand-container .brand-items .brand-item .brand-text {
  text-align: center;
  height: 107px;
  font-family: TT Commons;
  font-style: normal;
  font-weight: normal;
  font-size: 19px;
  line-height: 26px;
  letter-spacing: -0.078px;
  color: #553F3F;
}

.advantages {
  height: 221px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.advantages .adventege-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  max-width: 1160px;
  margin: 0 auto;
  margin-top: 81px;
}

.advantages .adventege-items .item-style {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: TT Commons;
  font-style: normal;
  font-weight: normal;
  color: #553F3F;
  font-size: 28px;
  line-height: 34px;
  letter-spacing: -0.32px;
}

.advantages .adventege-items .adventege-item1 {
  width: 281px;
}

.advantages .adventege-items .adventege-item2 {
  width: 206px;
}

.advantages .adventege-items .adventege-item3 {
  width: 320px;
}

.advantages .adventage-border__line {
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
  opacity: 0.1;
  border: 1px solid #000000;
  margin-top: 90px;
}

.box-themes__container {
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
}

.box-themes__container .box-themes__title {
  font-family: SangBleu Sunrise;
  font-style: normal;
  font-weight: 700;
  font-size: 44px;
  line-height: 60px;
  text-align: center;
  letter-spacing: -0.01em;
  max-width: 520px;
  margin: 0 auto;
  margin-top: 90px;
  color: #553F3F;
}

.box-themes__container .box-themes__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.box-themes__container .box-slider {
  width: 100%;
  max-width: 960px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.box-themes__container .box-slider .slider-left__arrow {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  -webkit-box-shadow: 0px 16px 26px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 16px 26px rgba(0, 0, 0, 0.1);
}

.box-themes__container .box-slider .slider-right__arrow {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  -webkit-box-shadow: 0px 16px 26px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 16px 26px rgba(0, 0, 0, 0.1);
}

.box-themes__container .box-content {
  margin-top: 10px;
}

.box-themes__container .box-content .box-content__title {
  margin-top: 110px;
  font-family: SangBleu Sunrise;
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 38px;
  color: #553F3F;
}

.box-themes__container .box-content .box-content__text {
  margin-top: 5px;
  font-family: TT Commons;
  font-style: normal;
  font-weight: normal;
  font-size: 19px;
  line-height: 26px;
  letter-spacing: -0.078px;
  color: #978C8C;
  max-width: 360px;
}

.box-themes__container .box-content .box-content__subtitle {
  margin-top: 59px;
  font-family: TT Commons;
  font-style: normal;
  font-weight: normal;
  font-size: 19px;
  line-height: 26px;
  letter-spacing: -0.078px;
  color: #553F3F;
}

.box-themes__container .box-content .box-content__items {
  margin-top: 36px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  max-width: 340px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.box-themes__container .box-content .box-content__items .box-content__item {
  height: 174px;
  max-width: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.box-themes__container .box-content .box-content__items .box-content__item .text {
  height: 60px;
  font-family: TT Commons;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0.066px;
  color: #978C8C;
}

.box-themes__container .box-content .box-content__btn {
  margin-top: 89px;
}

.box-themes__container .box-content .box-content__btn a {
  background: #FF7A74;
  font-family: TT Commons;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  letter-spacing: -0.32px;
  border-radius: 8px;
  text-decoration: none;
  padding: 22px 105px;
  color: #fff;
}

.box-themes__container .box-content .box-content__btn:hover {
  -webkit-box-shadow: 0px 20px 45px rgba(255, 134, 129, 0.25);
          box-shadow: 0px 20px 45px rgba(255, 134, 129, 0.25);
}

.guide-container {
  width: 100%;
  max-width: 1190px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.guide-container .guide-title {
  margin-top: 328px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  font-family: SangBleu Sunrise;
  font-style: normal;
  font-weight: 700;
  font-size: 44px;
  line-height: 60px;
  letter-spacing: -0.01em;
  color: #553F3F;
}

.guide-container .guide-subtitle {
  margin-top: 5px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  font-family: TT Commons;
  font-style: normal;
  font-weight: normal;
  font-size: 28px;
  line-height: 30px;
  letter-spacing: -0.24px;
  color: rgba(85, 63, 63, 0.6);
}

.guide-container .guide-content {
  margin-top: 130px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  max-width: 1190px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.guide-container .guide-content .guide-content__item1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 280px;
}

.guide-container .guide-content .guide-content__item2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 380px;
}

.guide-container .guide-content .guide-content__item2 .title {
  width: 280px;
}

.guide-container .guide-content .guide-content__item3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 338px;
}

.guide-container .guide-content .item-style {
  text-align: center;
}

.guide-container .guide-content .item-style .title {
  margin-top: 78px;
  font-family: TT Commons;
  font-style: normal;
  font-weight: normal;
  font-size: 28px;
  line-height: 34px;
  letter-spacing: -0.32px;
  color: #432E37;
}

.guide-container .guide-content .item-style .subtitle {
  margin-top: 16px;
  font-family: TT Commons;
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 30px;
  letter-spacing: -0.078px;
  color: #978C8C;
}

.banner-container {
  width: 100%;
  max-width: 1400px;
  height: 400px;
  margin: 0 auto;
  margin-top: 152px;
  border-radius: 16px;
  background: #E6DDCB;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.banner-container .banner-content {
  margin-left: 80px;
  width: 100%;
  max-width: 610px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.banner-container .banner-content .banner-description {
  margin-top: 72px;
  font-family: TT Commons;
  font-style: normal;
  font-weight: normal;
  font-size: 28px;
  line-height: 34px;
  letter-spacing: -0.32px;
  color: #432E37;
}

.banner-container .banner-content .bot-container {
  margin-top: 95px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.banner-container .banner-content .bot-container .banner-btn a {
  background: #fff;
  font-family: TT Commons;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  letter-spacing: -0.32px;
  border-radius: 8px;
  text-decoration: none;
  padding: 22px 130px;
  color: #553F3F;
}

.banner-container .banner-content .bot-container .banner-text {
  margin-left: 20px;
}

.banner-container .banner-content .bot-container .banner-text .title {
  margin-top: -10px;
  font-family: TT Commons;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  color: #553F3F;
}

.banner-container .banner-content .bot-container .banner-text .subtitle {
  font-family: TT Commons;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  color: #553F3F;
}

.icon {
  width: 24px;
  height: 24px;
}

.peoples-container {
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.peoples-container .peoples-title {
  text-align: center;
  max-width: 560px;
  margin-top: 147px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  font-family: SangBleu Sunrise;
  font-style: normal;
  font-weight: 700;
  font-size: 44px;
  line-height: 60px;
  letter-spacing: -0.01em;
  color: #553F3F;
}

.peoples-container .peoples-box {
  margin-top: 83px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.peoples-container .peoples-box .people-box {
  width: 440px;
  -webkit-box-shadow: 0px 5px 13px rgba(179, 179, 179, 0.2);
          box-shadow: 0px 5px 13px rgba(179, 179, 179, 0.2);
  border-radius: 8px;
}

.peoples-container .peoples-box .people-box .people-box__title {
  width: 100%;
  max-width: 390px;
  margin: 0 auto;
  padding-top: 29px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.peoples-container .peoples-box .people-box .people-box__title .name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 319px;
  width: 100%;
}

.peoples-container .peoples-box .people-box .people-box__title .name .people-name .name {
  font-family: TT Commons;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 34px;
  letter-spacing: -0.32px;
  color: #432E37;
}

.peoples-container .peoples-box .people-box .people-box__title .name .people-name .date {
  font-family: TT Commons;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  color: #978C8C;
}

.peoples-container .peoples-box .people-box .people-box__text {
  width: 100%;
  max-width: 378px;
  margin: 0 auto;
  margin-top: 10px;
  font-family: TT Commons;
  font-style: normal;
  font-weight: normal;
  font-size: 19px;
  line-height: 26px;
  letter-spacing: -0.078px;
  color: #432E37;
}

.peoples-container .peoples-box .box1 {
  height: 390px;
}

.peoples-container .peoples-box .box2 {
  height: 230px;
}

.peoples-container .peoples-box .box3 {
  margin-top: 40px;
  height: 230px;
}

.peoples-container .peoples-box .box3 .people-box__text {
  width: 319px;
  margin-left: 30px;
}

.peoples-container .peoples-box .box4 {
  height: 330px;
}

.subscribe-btn {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin-top: 100px;
}

.subscribe-btn a {
  background: #FF7A74;
  font-family: TT Commons;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  letter-spacing: -0.32px;
  border-radius: 8px;
  text-decoration: none;
  padding: 22px 152px;
  color: #fff;
}

.statistics-section {
  margin-top: 150px;
  width: 100%;
  height: 900px;
  background: url("../../img/statistics/bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.statistics-section .statistics-container {
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
}

.statistics-section .statistics-container .statistics-header {
  width: 100%;
  max-width: 1370px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.statistics-section .statistics-container .statistics-header .statistics-title {
  margin-top: 98px;
  max-width: 415px;
  font-family: SangBleu Sunrise;
  font-style: normal;
  font-weight: 700;
  font-size: 44px;
  line-height: 60px;
  letter-spacing: -0.01em;
  color: #553F3F;
}

.statistics-section .statistics-container .statistics-header .statistics-subtitle {
  margin-top: 106px;
  max-width: 270px;
  font-family: TT Commons;
  font-style: normal;
  font-weight: normal;
  font-size: 28px;
  line-height: 34px;
  letter-spacing: -0.32px;
  color: #432E37;
}

.statistics-section .statistics-container .statistics-header .statistics-text {
  margin-top: 112px;
  width: 530px;
  font-family: TT Commons;
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 30px;
  color: #978C8C;
}

.statistics-section .statistics-container .statistics-content {
  height: 280px;
}

.statistics-section .statistics-container .statistics-content .border-line1 {
  margin-top: 82px;
  height: 0px;
  max-width: 1400px;
  width: 100%;
  opacity: 0.1;
  border: 1px solid #000000;
}

.statistics-section .statistics-container .statistics-content .border-line2 {
  margin-top: 53px;
  height: 0px;
  max-width: 1400px;
  width: 100%;
  opacity: 0.1;
  border: 1px solid #000000;
}

.statistics-section .statistics-container .statistics-content .statistics-more__than {
  max-width: 438px;
  margin: 0 auto;
  margin-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-family: TT Commons;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 28px;
  text-transform: uppercase;
  color: #978C8C;
}

.statistics-section .statistics-container .statistics-content .statistics-item__box {
  margin-top: 26px;
  height: 119px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.statistics-section .statistics-container .statistics-content .statistics-item__box .title {
  font-family: TT Commons;
  font-style: normal;
  font-weight: normal;
  font-size: 46px;
  line-height: 36px;
  letter-spacing: -0.32px;
  color: #553F3F;
}

.statistics-section .statistics-container .statistics-content .statistics-item__box .text {
  font-family: TT Commons;
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 30px;
  color: #978C8C;
}

.statistics-section .statistics-container .statistics-content .statistics-item__box .statistics-item {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.statistics-section .statistics-container .statistics-btn {
  margin-top: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 920px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.statistics-section .statistics-container .statistics-btn .text {
  max-width: 415px;
  font-family: TT Commons;
  font-style: normal;
  font-weight: normal;
  font-size: 28px;
  line-height: 34px;
  letter-spacing: -0.32px;
  color: #432E37;
}

.statistics-section .statistics-container .statistics-btn .btn {
  margin-top: 23px;
}

.statistics-section .statistics-container .statistics-btn .btn a {
  background: #FF7A74;
  font-family: TT Commons;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  letter-spacing: -0.32px;
  border-radius: 8px;
  text-decoration: none;
  padding: 22px 125px;
  color: #fff;
}

.statistics-item {
  width: 260px;
}

.statistics-item1 {
  width: 280px;
}

.howitwork-container {
  width: 100%;
  max-width: 1260px;
  margin: 0 auto;
}

.howitwork-container .title {
  margin-top: 168px;
  text-align: center;
  font-family: SangBleu Sunrise;
  font-style: normal;
  font-weight: 700;
  font-size: 44px;
  line-height: 60px;
  letter-spacing: -0.01em;
  color: #553F3F;
}

.howitwork-container .item-box {
  margin-top: 107px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-align: center;
}

.howitwork-container .item-box .item-imgs {
  width: 100%;
  max-width: 1094px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.howitwork-container .item-box .item-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.howitwork-container .item-box .item-text .item-title {
  margin-top: 58px;
  font-family: TT Commons;
  font-style: normal;
  font-weight: normal;
  font-size: 28px;
  line-height: 34px;
  letter-spacing: -0.32px;
  color: #553F3F;
}

.howitwork-container .item-box .item-text .item-subtitle {
  margin-top: 22px;
  font-family: TT Commons;
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 30px;
  letter-spacing: -0.078px;
  color: #978C8C;
}

.howitwork-container .subtitle {
  max-width: 478px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  text-align: center;
  font-family: TT Commons;
  font-style: normal;
  font-weight: normal;
  font-size: 19px;
  line-height: 26px;
  letter-spacing: -0.078px;
  color: #978C8C;
  margin: 0 auto;
  margin-top: 103px;
}

.howitwork-container .btn-group {
  width: 100%;
  max-width: 620px;
  margin: 0 auto;
  margin-top: 61px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.howitwork-container .btn-group .btn1 {
  background: #FF7A74;
  font-family: TT Commons;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  letter-spacing: -0.32px;
  border-radius: 8px;
  text-decoration: none;
  padding: 22px 98px;
  color: #fff;
}

.howitwork-container .btn-group .btn1:hover {
  -webkit-box-shadow: 0px 20px 45px rgba(255, 134, 129, 0.25);
          box-shadow: 0px 20px 45px rgba(255, 134, 129, 0.25);
}

.howitwork-container .btn-group .btn2 {
  font-family: TT Commons;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  letter-spacing: -0.32px;
  border-radius: 8px;
  text-decoration: none;
  padding: 22px 45px;
  color: #553F3F;
  -webkit-box-shadow: 0px 20px 45px rgba(165, 159, 159, 0.25);
          box-shadow: 0px 20px 45px rgba(165, 159, 159, 0.25);
}

.howitwork-container .btn-group .btn2:hover {
  -webkit-box-shadow: 0px 20px 45px rgba(255, 134, 129, 0.25);
          box-shadow: 0px 20px 45px rgba(255, 134, 129, 0.25);
}

.text-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.item1 {
  width: 388px;
}

.item2 {
  width: 380px;
}

.item3 {
  width: 396px;
}

.border-line__1 {
  max-width: 1400px;
  height: 0;
  width: 100%;
  margin: 0 auto;
  margin-top: 146px;
  opacity: 0.1;
  border: 1px solid #000000;
}

.create-container {
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
  margin-top: 136px;
}

.create-container .create-title {
  font-family: SangBleu Sunrise;
  font-style: normal;
  font-weight: 700;
  font-size: 44px;
  line-height: 60px;
  text-align: center;
  letter-spacing: -0.01em;
  color: #553F3F;
}

.create-container .create-subtitle {
  font-family: TT Commons;
  font-style: normal;
  font-weight: normal;
  font-size: 28px;
  line-height: 30px;
  text-align: center;
  letter-spacing: -0.24px;
  color: rgba(85, 63, 63, 0.6);
}

.create-container .create-content {
  margin-top: 94px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.create-container .create-content .create-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.create-container .create-content .create-text .text-box {
  display: block;
  width: 643px;
  height: 180px;
}

.create-container .create-content .create-text .text-box p {
  width: 440px;
}

.create-container .create-content .create-text .btn-group {
  margin-top: 91px;
  max-width: 620px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.create-container .create-content .create-text .btn-group .btn1 {
  background: #FF7A74;
  font-family: TT Commons;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  letter-spacing: -0.32px;
  border-radius: 8px;
  text-decoration: none;
  padding: 22px 98px;
  color: #fff;
}

.create-container .create-content .create-text .btn-group .btn1:hover {
  -webkit-box-shadow: 0px 20px 45px rgba(255, 134, 129, 0.25);
          box-shadow: 0px 20px 45px rgba(255, 134, 129, 0.25);
}

.create-container .create-content .create-text .btn-group .btn2 {
  font-family: TT Commons;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  letter-spacing: -0.32px;
  border-radius: 8px;
  text-decoration: none;
  padding: 22px 45px;
  color: #553F3F;
  -webkit-box-shadow: 0px 20px 45px rgba(165, 159, 159, 0.25);
          box-shadow: 0px 20px 45px rgba(165, 159, 159, 0.25);
}

.create-container .create-content .create-text .btn-group .btn2:hover {
  -webkit-box-shadow: 0px 20px 45px rgba(255, 134, 129, 0.25);
          box-shadow: 0px 20px 45px rgba(255, 134, 129, 0.25);
}

.create-container .create-slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.create-container .create-slider img {
  border-radius: 16px;
}

.enjoy-container {
  background: url("../../img/enjoy/bg.png");
  background-repeat: no-repeat;
  background-position: left center;
  height: 811px;
  margin-left: 20px;
  margin-top: 234px;
  max-width: 1545px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.enjoy-container .text {
  width: 585px;
}

.enjoy-container .text .title {
  margin-top: 20px;
  width: 510px;
  font-family: SangBleu Sunrise;
  font-style: normal;
  font-weight: 700;
  font-size: 44px;
  line-height: 60px;
  letter-spacing: -0.01em;
  color: #553F3F;
}

.enjoy-container .text .subtitle {
  margin-top: 22px;
  font-family: TT Commons;
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 30px;
  letter-spacing: -0.24px;
  color: rgba(85, 63, 63, 0.6);
}

.community-container {
  margin-left: 260px;
  width: 100%;
  max-width: 1427px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 241px;
}

.community-container .community-content .title {
  margin-top: 138px;
  width: 480px;
  font-family: SangBleu Sunrise;
  font-style: normal;
  font-weight: 700;
  font-size: 44px;
  line-height: 60px;
  letter-spacing: -0.01em;
  color: #553F3F;
}

.community-container .community-content .text {
  margin-top: 37px;
  width: 460px;
  font-family: TT Commons;
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 30px;
  letter-spacing: -0.24px;
  color: rgba(85, 63, 63, 0.6);
  margin-bottom: 94px;
}

.community-container .community-content .btn {
  background: #FF7A74;
  font-family: TT Commons;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  letter-spacing: -0.32px;
  border-radius: 8px;
  text-decoration: none;
  padding: 22px 98px;
  color: #fff;
}

.community-container .community-content .btn:hover {
  -webkit-box-shadow: 0px 20px 45px rgba(255, 134, 129, 0.25);
          box-shadow: 0px 20px 45px rgba(255, 134, 129, 0.25);
}

.story {
  margin-top: 236px;
  width: 100%;
  background: #FDF7F1;
  height: 1910px;
}

.story .story-container {
  max-width: 1414px;
  width: 100%;
  margin-left: 246px;
}

.story .story-container .story-header {
  max-width: 1374px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.story .story-container .story-header .story-logo {
  margin-top: 183px;
  max-width: 554px;
  font-family: SangBleu Sunrise;
  font-style: normal;
  font-weight: 700;
  font-size: 64px;
  line-height: 84px;
  color: #553F3F;
}

.story .story-container .story-header .story-text {
  margin-top: 213px;
  max-width: 640px;
  font-family: TT Commons;
  font-style: normal;
  font-weight: normal;
  font-size: 28px;
  line-height: 34px;
  letter-spacing: -0.32px;
  color: #432E37;
}

.story .story-container .story-title {
  margin-top: 127px;
  margin-right: 40px;
  text-align: right;
  font-family: SangBleu Sunrise;
  font-style: normal;
  font-weight: 700;
  font-size: 44px;
  line-height: 60px;
  letter-spacing: -0.01em;
  color: #553F3F;
}

.story .story-container .story-content {
  margin-top: 89px;
  max-width: 1280px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.story .story-container .story-content .imgs {
  width: 614px;
}

.story .story-container .story-content .text {
  width: 560px;
  height: 157px;
  font-family: TT Commons;
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 30px;
  color: #978C8C;
}

.story .story-container .story-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.story .story-container .story-footer .subscriber {
  margin-top: 36px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 594px;
}

.story .story-container .story-footer .subscriber .text {
  font-family: TT Commons;
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 30px;
  color: #978C8C;
}

.story .story-container .story-footer .subscriber .story-people {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 40px;
  max-width: 364px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-family: TT Commons;
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 30px;
  color: #553F3F;
}

.story .story-container .story-footer .btn {
  margin-top: 28px;
  max-width: 680px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.story .story-container .story-footer .btn .title {
  font-family: SangBleu Sunrise;
  font-style: normal;
  font-weight: 700;
  font-size: 44px;
  line-height: 60px;
  letter-spacing: -0.01em;
  color: #553F3F;
}

.story .story-container .story-footer .btn .btn {
  margin-top: 56px;
  max-width: 300px;
  background: #FF7A74;
  font-family: TT Commons;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  letter-spacing: -0.32px;
  border-radius: 8px;
  text-decoration: none;
  padding: 22px 8px;
  color: #fff;
}

.story .story-container .story-footer .btn .btn:hover {
  -webkit-box-shadow: 0px 20px 45px rgba(255, 134, 129, 0.25);
          box-shadow: 0px 20px 45px rgba(255, 134, 129, 0.25);
}

.footer-container {
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
  height: 491px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer-container .top {
  margin-top: 63px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer-container .top .title {
  font-family: TT Commons;
  font-style: normal;
  font-weight: normal;
  font-size: 19px;
  line-height: 26px;
  letter-spacing: -0.078px;
  color: #FF8484;
}

.footer-container .top ul {
  margin-top: 30px;
  list-style: none;
}

.footer-container .top ul a {
  text-decoration: none;
}

.footer-container .top ul a li {
  font-family: TT Commons;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 40px;
  letter-spacing: -0.078px;
  color: #958F8F;
}

.footer-container .bot {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  margin-bottom: 40px;
  font-family: TT Commons;
  font-style: normal;
  font-weight: normal;
  font-size: 19px;
  line-height: 26px;
  letter-spacing: -0.078px;
  color: #958F8F;
}

form {
  margin-top: 39px;
  width: 320px;
}

form input {
  border: none;
  width: 45px;
  font-family: TT Commons;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 42px;
  letter-spacing: -0.078px;
  color: #978C8C;
}
/*# sourceMappingURL=style.css.map */